<video  autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="0"/>
<source src="/src/videoplayback.mp4" type='video/mp4' />
</video>

<h1>Bienvenido!</h1>
<h1>Sistema gestor de datos de la biblioteca</h1>
<h1>Universidad del norte</h1>
<br></br>
<div align="center">
<br></br>
<h5>-Realice consultas</h5>
<h5>-Revise sus prestamos</h5>
<h5>-Modifique sus datos</h5>
<h5>-Entre muchas opciones más!</h5>
</div>
