<video autoplay muted loop id="myVideo" class="mtz-vlc-dakbp">
    <source src="https://cdn.videvo.net/videvo_files/video/free/2020-05/large_watermarked/200430_Reading%20Books_01_4k_021_preview.mp4" type="video/mp4">
</video>

<div class="bienvenue d-flex align-items-center h-100 justify-content-center w-100">
    <div class="card rounded shadow w-auto bg-custom3 p-4">
        <h1>¡Bienvenido!</h1>
        <h1>Sistema gestor de datos de la biblioteca</h1>
        <h1>Universidad del norte</h1>
        <br></br>
        <div align="center">
            <br></br>
            <h5> &#9745; Realice consultas</h5>
            <h5> &#9745; Revise sus prestamos</h5>
            <h5> &#9745; Modifique sus datos</h5>
            <h5> &#9745; ¡Entre muchas opciones más!</h5>
        </div>
    </div>
</div>