<div class="d-flex justify-content-center flex-column  m-5 mt-1">
    <div class="card rounded shadow w-auto">
        <div class="card-body">
            <div class="card-title pb-2">
                <h1 class="display-1 text-center">Autor</h1>
            </div>
            <div class="card-text">
                <form class="row row-cols-lg-auto g-3 align-items-center justify-content-center">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Nombre</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Username">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Apellido 1</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Username">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Apellido 2</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="Username">
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card rounded shadow mt-5">
        <div class="card-body">
            <div class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>