<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card rounded shadow w-auto">
        <div class="card-body">
            <div class="card-title pb-2">
                <h1 class="display-1 text-center">Copia-Editar</h1>
            </div>
            <div class="card-text">
                <form class="row row-cols-lg-auto g-3 align-items-center justify-content-center"
                    action="/ALEC/edit_copia/{{copia._id}}" method="post">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">ISBN</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="1234" name="ISBN" value="{{copia.ISBN}}" autofocus>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-text">Numero</div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
                                placeholder="1234" name="numero" value="{{copia.numero}}">
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>